input {
    width: 80px;
    padding: 2px;
    font-size: 14px;
    border: none;
}

input:hover {
    background-color: #ffffff;
}

input:focus {
    background-color: bisque;
}

input:not(:focus) {
    text-align: right;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid gainsboro;
    padding: 0;
}

tr:first-child td, td:first-child {
    font-weight: bold;
    background-color: #ccc;
    padding: 1px 3px;
    text-align: center;
}
